


<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Metas -->
      <meta charset="utf-8">
      <title>{{ .Title }}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Css -->
      <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
      <link href="css/base.css" rel="stylesheet" type="text/css" media="all"/>
      <link href="css/main.css" rel="stylesheet" type="text/css" media="all"/>
      <link href="css/flexslider.css" rel="stylesheet" type="text/css"  media="all" />
      <link href="css/fonts.css" rel="stylesheet" type="text/css"  media="all" />
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,700" rel="stylesheet">
   </head>
   <body>
      <!-- Preloader -->
      <div class="loader">
         <!-- Preloader inner -->
         <div class="loader-inner">
            <svg width="120" height="220" viewbox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
               <circle class="spinner" cx="50" cy="50" r="21" fill="#111111" stroke-width="2"/>
            </svg>
         </div>
         <!-- End preloader inner -->
      </div>
      <!-- End preloader-->
      <!--Wrapper-->
      <div class="wrapper">
         <!--Hero section-->
         <section class="hero">
            <!--Main slider-->
            <div class="main-slider slider flexslider">
               <ul class="slides">
                  <li>
                     <div class="background-img overlay">
                        <img src="https://source.unsplash.com/1600x900?street" alt="">
                     </div>
                     <div class="block-cat">
                        <h6>people<span>happy girl</span></h6>
                     </div>
                  </li>
               </ul>
            </div>
            <!--End main slider-->
            <!--Header-->
            <header class="header default">
               <div class=" left-part">
                  <a class="logo scroll" href="#hero">
                  <img class="mb-0" src="img/logo.png" alt="">
                  </a>
               </div>
               <div class="right-part">
                  <nav class="main-nav">
                     <div class="toggle-mobile-but">
                        <a href="#" class="mobile-but" >
                           <div class="lines"></div>
                        </a>
                     </div>
                     <ul>
                        <li><a class="scroll" href="#hero">Главная</a></li>
                        <li><a class="scroll" href="#about">Обо мне</a></li>
                        <li><a class="scroll" href="#package">Пакеты</a></li>
                        <li><a class="scroll" href="#gallery">Галлерея</a></li>
                        <li><a class="scroll" href="#contact">Контакты</a></li>
                     </ul>
                  </nav>
               </div>
            </header>
            <!--End header-->
            <!--Inner hero-->
            <div class="inner-hero">
               <!--Container-->
               <div class="container hero-content">
                  <!--Row-->
                  <div class="row">
                     <div class="col-sm-12 text-center">
                        <div class="height-hero">
                           <img class="mb-0 text-frame hero " src="img/frame.png" alt="">
                           <h1 class="large text-white mb-0">Сергей Масленников</h1>
                           <h6 class="mb-0 text-white h6 uppercase">Не фотограф</h6>
                        </div>
                     </div>
                  </div>
                  <!--End row-->
               </div>
               <!--End container-->
            </div>
            <!--End inner hero-->
         </section>
         <!--End hero section-->
         <!--About section-->
         <section id="about" class=" about main overlay" >
            <div class="background-img">
               <img src="https://source.unsplash.com/1600x900?face,portrait" alt="">
            </div>
            <!--Container-->
            <div class="container">
               <!--Row-->
               <div class="row">
                  <div class="col-md-5  ">
                     <div class="block-content front-p">
                        <p class="block-intro h1  text-white mb-5"><strong>catrina milas</strong> is a theoretical physicist<br> who developed the general theory of relativity</p>
                        <div class="block-info mb-5">
                           <h5 class="mb-2">Experience</h5>
                           <p class="mb-0">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit aenean lacinia bibendum. </p>
                        </div>
                        <div class="block-info mb-5">
                           <h5 class="mb-3">Prize &amp; Interview</h5>
                           <p class="mb-0">
                              <span class="bold mb-1 d-block" style="display: block;">2018 – January</span>
                              <span class="mb-2 d-block" style="display: block;">Honorable mention in Gold Prize Magazine</span>
                              <span class="bold mb-1 d-block" style="display: block;">2018 – June</span>
                              <span class="mb-2 d-block" style="display: block;">Winner of Shooter Photo Contest</span>
                              <span class="bold mb-1 d-block" style="display: block;">2018 – July</span>
                              <span class="d-block">Interview with Creativity Magazine</span>
                           </p>
                        </div>
                        <div class="block-info">
                           <h5 class="mb-3">Hit me on social</h5>
                           <ul class="block-social list-inline">
                              <li class="list-inline-item">
                                 <a href="#"> <i class="icon-facebook"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-instagram"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-twitter"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-dribbble"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-pinterest"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-behance"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-picasa"></i> </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!--End row-->
            </div>
            <!--End container-->
         </section>
         <!--End about section-->
         <!--Package section-->
         <section id="package" class="package main">
            <!--Container-->
            <div class="container">
               <!--Row-->
               <div class="row justify-content-center">
                  <div class="col-12 col-md-10 col-lg-7">
                     <div class="block-content gap-one-bottom-md text-center ">
                        <h1>Shooting package</h1>
                        <p class="lead mb-0">Whether you’re looking to venture into the world of professional photography, or just getting some practice – being able to hold an effective photoshoot<br> can be a handy skill to have.</p>
                     </div>
                  </div>
               </div>
               <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
               <!--Row-->
               <div class="row justify-content-center">
                  <div class="col-12 col-lg-4">
                     <div class="block-package text-center">
                        <div class="package-header">
                           <img class="mb-0 text-frame package " src="img/frame.png" alt="">
                           <h5>Package 1<span>from 150$</span></h5>
                        </div>
                        <div class="package-body mt-4">
                           <i class="icon-cancel-1"></i>
                           <ul class="mt-3">
                              <li>1 person</li>
                              <li>15 minutes session</li>
                              <li>10 digitals images</li>
                              <li>photo release</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-lg-4">
                     <div class="block-package text-center">
                        <div class="package-header">
                           <img class="mb-0 text-frame package " src="img/frame.png" alt="">
                           <h5>Package 2<span>from 250$</span></h5>
                        </div>
                        <div class="package-body mt-4">
                           <i class="icon-cancel-1"></i>
                           <ul class="mt-3">
                              <li>1-2 person(s)</li>
                              <li>20 minutes session</li>
                              <li>20 digitals images</li>
                              <li>photo release</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-lg-4">
                     <div class="block-package text-center">
                        <div class="package-header">
                           <img class="mb-0 text-frame package " src="img/frame.png" alt="">
                           <h5>Package 3<span>from 350$</span></h5>
                        </div>
                        <div class="package-body mt-4">
                           <i class="icon-cancel-1"></i>
                           <ul class="mt-3">
                              <li>1-3 person(s)</li>
                              <li>30 minutes session</li>
                              <li>30 digitals images</li>
                              <li>photo release</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!--End row-->
            </div>
            <!--End container-->
         </section>
         <!--End package section-->
         <!--Divider-->
         <section class="main overlay" >
            <div class="background-img ">
               <img src="https://source.unsplash.com/1900x1200?portrait" alt="">
            </div>
            <!--Container-->
            <div class="container">
               <!--Row-->
               <div class="row justify-content-center">
                  <div class="col-12 col-md-10 col-lg-7">
                     <div class="block-content  text-center front-p ">
                        <h1> need a photoshoot session ?</h1>
                        <p class="lead">Whether you’re looking to venture into the world of professional photography, or just getting some practice – being able to hold an effective photoshoot<br> can be a handy skill to have.</p>
                        <a href="#contact" class="scroll btn">Book a session</a>
                     </div>
                  </div>
               </div>
               <!--End row-->
            </div>
            <!--End container-->
         </section>
         <!--End divider-->
         <!--Quote section-->
         <section class="quote main">
            <!--Container-->
            <div class="container">
               <!--Row-->
               <div class="row justify-content-center">
                  <div class="col-12 col-md-10 col-lg-7">
                     <div class="block-content text-center ">
                        <div class="review-slider flexslider">
                           <ul class="slides">
                              <li>
                                 <blockquote class="blockquote">
                                    <img class="mb-0 quote" src="img/quote.png" alt="">
                                    <p class="mb-4">It’s one thing to make a picture of what a person looks like, it’s another thing to make a portrait <br>of who they are.</p>
                                    <div class="quote-info">
                                       <img src="https://source.unsplash.com/365x365?face" alt="">
                                       <h6>Sara Burnley<span>film director</span></h6>
                                    </div>
                                 </blockquote>
                              </li>
                              <li>
                                 <blockquote class="blockquote">
                                    <img class="mb-0 quote" src="img/quote.png" alt="">
                                    <p class="mb-4">
                                       It’s one thing to make a picture of what a person looks like, it’s another thing to make a portrait <br>of who they are.
                                    </p>
                                    <div class="quote-info">
                                       <img src="https://source.unsplash.com/365x365?face,portrait" alt="">
                                       <h6>Ahmed Moreno<span>Model</span></h6>
                                    </div>
                                 </blockquote>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!--End row-->
            </div>
            <!--End container-->
         </section>
         <!--End quote section-->
         <!--Clients section-->
         <section class="bg-secondary gap-double-md">
            <!-- As a general rule, include a heading (h1-h6) as a child of each section and article element for screen readers purposes-->
            <h1 class="uppercase indent">Clients logo</h1>
            <!--Container-->
            <div class="container">
               <!--Row-->
               <div class="row justify-content-center">
                  <div class="col-12 col-lg-2 ">
                     <div class="block-logo">
                        <img src="img/logo/1.png" alt="">
                     </div>
                  </div>
                  <div class="col-12 col-lg-2 ">
                     <div class="block-logo">
                        <img src="img/logo/2.png" alt="">
                     </div>
                  </div>
                  <div class="col-12 col-lg-2 ">
                     <div class="block-logo">
                        <img src="img/logo/3.png" alt="">
                     </div>
                  </div>
                  <div class="col-12 col-lg-2 ">
                     <div class="block-logo">
                        <img src="img/logo/4.png" alt="">
                     </div>
                  </div>
                  <div class="col-12 col-lg-2 ">
                     <div class="block-logo">
                        <img src="img/logo/5.png" alt="">
                     </div>
                  </div>
               </div>
               <!--End row-->
            </div>
            <!--End container-->
         </section>
         <!--End clients section-->
         <!--Gallery section-->
         <section id="gallery" class="gallery">
            <div class="block-content filter">
               <div class="height-filter">
                  <img class="mb-0 menu-filter-frame " src="img/menu-filter-frame.png" alt="">
                  <div class="block-filter">
                     <ul class="list-inline">
                        <li class="list-inline-item"><a class="active" href="#" data-filter="all">all</a></li>
                        <li class="list-inline-item"><a href="#" data-filter="nature" class="">Nature</a></li>
                        <li class="list-inline-item"><a href="#" data-filter="people" class="">People</a></li>
                        <li class="list-inline-item"><a href="#" data-filter="architecture" class="">Architecture</a></li>
                        <li class="list-inline-item"><a href="#" data-filter="black-white">Black &amp; white</a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="block-content">
               <div class="col-lg-4">
                  <div class="block-gallery people">
                     <img src="https://source.unsplash.com/1600x900?girl,staring" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>People<span>girl staring</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="block-gallery nature">
                     <img src="https://source.unsplash.com/1600x900?nature,mountain" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>Nature<span>mountain</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="block-gallery architecture">
                     <img src="https://source.unsplash.com/1600x900?architecture,building" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>Architecture<span>3d building</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="block-gallery nature">
                     <img src="https://source.unsplash.com/1600x900?nature,panorama" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>Nature<span>panorama</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="block-gallery architecture">
                     <img src="https://source.unsplash.com/1600x900?architecture,castle" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>Architecture<span>castle</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="block-gallery people">
                     <img src="https://source.unsplash.com/1600x900?girl,gorgeous" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>People<span>gorgeous girl</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="block-gallery nature">
                     <img src="https://source.unsplash.com/1600x900?nature,landscape" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>Nature<span>landscape</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="block-gallery people">
                     <img src="https://source.unsplash.com/1600x900?tatoo,girls" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>People<span>tatoo girl</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="block-gallery architecture">
                     <img src="https://source.unsplash.com/1600x900?building" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>Architecture<span>modern building</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="block-gallery black-white">
                     <img src="https://source.unsplash.com/1600x900?monochrome,street" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>Black &amp; White<span>street</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="block-gallery black-white">
                     <img src="https://source.unsplash.com/1600x900?monochrome" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>Black &amp; White<span>Bride</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="block-gallery nature">
                     <img src="https://source.unsplash.com/1600x900?nature,forest" alt="">
                     <div class="block-cat">
                        <a href="album.html">
                           <h6>Nature<span>forest</span></h6>
                           <i class="icon-plus-1"></i>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--End gallery section-->
         <section id="contact" class="contact main">
            <!--Container-->
            <div class="container">
               <!--Row-->
               <div class="row justify-content-center">
                  <div class="col-12 col-md-10 col-lg-7">
                     <div class="block-content  text-center gap-one-bottom-md front-p ">
                        <h1> Request a Quote or Say Hi !</h1>
                        <p class="lead mb-0">Need some additional information ? Feel free to Get in touch with me for <br>more special inquiries and events.  </p>
                     </div>
                  </div>
               </div>
               <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
               <!--Row-->
               <div class="row justify-content-center">
                  <div class="col-12 col-md-10 col-lg-7">
                     <div class="block-content text-center">
                        <div class="block-info mb-5">
                           <h5 class="mb-3">contact info</h5>
                           <p class="lead mb-0"><span class="bold">E</span> : contact@email.me<br>
                              <span class="bold">P</span> : (513) 352-3209s<br>
                              <span class="bold">A</span> : Edwards Cincinnati, OH 45209 USA 
                           </p>
                        </div>
                        <div class="block-info">
                           <h5 class="mb-3">Hit me on social</h5>
                           <ul class="block-social dark list-inline">
                              <li class="list-inline-item">
                                 <a href="#"> <i class="icon-facebook"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-instagram"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-twitter"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-dribbble"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-pinterest"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-behance"></i> </a>
                              </li>
                              <li class="list-inline-item">
                                 <a href="#"><i class="icon-picasa"></i> </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!--End row-->
            </div>
            <!--End container-->
         </section>
         <!--End contact section-->
         <!--Instgaram section-->
         <section class="instagram">
            <!-- As a general rule, include a heading (h1-h6) as a child of each section and article element for screen readers purposes-->
            <h1 class="uppercase indent">Instagram feed</h1>
            <div class="block-content front-p text-center">
               <div class="height-insta ">
                  <img class="mb-0 insta-btn-frame  " src="img/insta-btn-frame.png" alt="">
                  <div class="block-content">
                     <a href="https://www.instagram.com/photobenfeed/" target="_blank"><i class="icon-instagram"></i>photobenphotography</a>
                  </div>
               </div>
            </div>
            <div id="block-stream" class="ri-grid ri-grid-size-2 ">
               <ul id="instafeed" class="insta-Feed"></ul>
            </div>
         </section>
         <!--End instgaram section-->
         <footer class="footer gap-double-sm bg-secondary">
            <!--Container-->
            <div class="container">
               <!--Row-->
               <div class="row justify-content-center">
                  <div class="col-12 col-md-10 col-lg-4">
                     <div class="block-content text-center">
                        <div class="logo">
                           <img class="" src="img/logo.png" alt="">
                        </div>
                        <p class="text-small" >&copy; 2018 All rights reserved MutationMedia. <br> A product of <span>mutationthemes.</span></p>
                        <a class="top scroll" href="#header"><i class="icon-up-circled-1"></i></a>
                     </div>
                  </div>
               </div>
               <!--End row-->
            </div>
            <!--End container-->
         </footer>
      </div>
      <!-- End wrapper-->
      <!--Javascript--> 
      <script src="js/jquery-1.12.4.min.js"></script>
      <script src="js/jquery.flexslider-min.js"></script>
      <script src="js/smooth-scroll.js"></script>
      <script src="js/modernizr.js"></script>
      <script src="js/instafeed.min.js"></script>
      <script src="js/jquery.gridrotator.js"></script>
      <script src="js/script.js"></script>
      <!-- Google analytics -->
      <!-- End google analytics -->
   </body>
</html>

